<footer class="page-footer font-small fixed-bottom" style="background-color: rgb(208,131,59);">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-dark" style="font-family: 'Staatliches', cursive;">created by :
    <a href="https://www.instagram.com/bagrisushant/" target="_blank" class="text-dark"> {{name}}</a>
  </div>
  <!-- Copyright -->

</footer>